/* =========
  common css
=========== */

a{
    text-decoration: none;
}

/* =========
  common css
=========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* ===================
    nav-bar part start
====================== */
nav{
    padding: 18px 0px;
}
.navbar-nav{
    column-gap: 50px;
    align-items: center;
}

.nav-link{
    font-size: 18px;
    font-family: "Jost", sans-serif;
    color: #00413D;
    font-weight: 400;
    padding-left: 0px;!important
    padding-right: 0px;!important
    transition: .4s;
}
.nav-link:hover{
    color: #E5745D;
}
.downloadbtn{
    background-color: #E5745D;
    padding: 1.25rem 2.5rem;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-weight: 600;
    position: relative;
}
.downloadbtn::after {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 56px;
    width: 182px;
    border: 1px solid white;
    content: " ";
}

/* ===================
    nav-bar part end
====================== */

/* ===================
    banner-part start
====================== */

.banner{
    background-color: #00413D;
    width: 100%;
    padding: 220px 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 220px;
    
}
.overlay{
    background-image: url(/images/overlay.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:40%;
    height: 100%;
    position: absolute;
    right: -40%;
    top: 0;
    
    transition: .6s;
}
.banner:hover .overlay{
    right: 0;
}
.banner h1{
    font-size: 6.25rem;
    font-family: "Vollkorn", serif;
    font-weight: 700;
    line-height: 6.875rem;
    color: white;
    
}
.banner h1 span{
    display: block;
}
.banner p{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: "Jost", sans-serif;
    color:rgba(255, 255, 255, 0.5);
    width: 670px;
    padding-top: 14px;
    padding-bottom: 50px;
    
}
.banner p span{
    color: #ffffff;
}
.banner .downloadbtn{
    padding: 1.25rem 3.1rem;
}

/* ===================
    banner-part end
====================== */
/* ===================
    Service-part start
====================== */
.service{
    margin-bottom: 120px;
}
.title h1::after{
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 100px;
    color: #E5745D;
    content: " ";
}
.title h1{
    font-size: 25px;
    color: #E5745D;
    font-family: "Vollkorn", serif;
    font-weight: 500;
    line-height: 25px;
    position: relative;
}
.title h1::after {
    position: absolute;
    left: 515px;
    top: 10px;
    background-color: #E5745D;
    height: 2px;
    width: 50px;
    content: " ";
}
.title h1::before {
    position: absolute;
    left: 565px;
    top: 6px;
    background-color: #E5745D;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    content: " ";
}
.title h2{
    font-size: 50px;
    color: #00413D;
    font-family: "Vollkorn", serif;
    font-weight: 500;
    line-height: 60px;
    width: 520px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 40px;
}
.title{
    text-align: center;
    
}
.card img{
    width: 25%;
    padding-bottom: 25px;

}
.three img{
    width: 23%;
}
.service .card{
    padding: 50px 35px;
    border: 0;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);

}
.card-body{
    padding: 0;
}
.card-title{
    font-family: "Vollkorn", serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 34px;
    color: #00413D;
}
.card-text{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #00413D;
;
}
.card i{
    transition: .2s;
    height: 30px;
    width: 28px;
}
.service .card:hover i{
    color: #ff0000;
    cursor: pointer;
}

/* ===================
    Service-part end
====================== */
/* ===================
    About-part start
====================== */
.about{
    margin-bottom: 120px;
}
.about .first img{
    width:107%;
}
.about .title{
    text-align: start;
}
.about .title h1{
    margin-left: 90px;
}
.about .title h2{
    width: auto;
}
.about .title h1::after {
    position: absolute;
    left: -90px;
    top: 10px;
    background-color: #E5745D;
    height: 2px;
    width: 60px;
    content: " ";
}
.about .title h1::before {
    position: absolute;
    left: -30px;
    top: 6px;
    background-color: #E5745D;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    content: " ";
}
.about p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Jost", sans-serif;
    color: #00413D;
    width: 570px;
    padding-bottom: 30px;

}
.about .downloadbtn{
    
}
.about .downloadbtn {
    background-color: #E5745D;
    padding: 1.25rem 3.1rem;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-weight: 600;
    position: relative;
}




/* ===================
    About-part end
====================== */

